.App {
  color: #444452;
  /* width: 100vw; */
  /* height: 100vh; */
  transition: 400ms ease-in-out;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

.themer-base {
  position: fixed;
}
.introd {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.back-skill {
  /* height: 100vh; */
  width: 100%;
}

.dark {
  background-color: #171c28;
  color: #e7e7e7;
}

::selection {
  background: greenyellow;
}
