* {
  padding: 0;
  margin: 0;
}
.blog-page {
  h1 {
    margin: 30px;
    text-align: center;
  }
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  grid-gap: 30px;
  justify-items: center;
  a {
    text-decoration: none;
    display: contents;
    color: rgba(0, 0, 0, 0.8);
  }
  .s-blog-list {
    width: 350px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 5px;

    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: 500ms;

    .img {
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      transition: 400ms;
      &:hover {
        transform: scale(0.95);
        overflow: hidden;
      }
    }
    h2 {
      text-align: center;
      padding: 5px;
      padding-top: 8px;
      text-transform: uppercase;
      font-size: 22px;
    }
    p {
      text-align: center;
      padding: 5px 10px;
      font-weight: 200;
    }
    span {
      display: flex;
      justify-content: space-between;
      p {
        margin: 10px;
        margin-bottom: 0px;
        color: #697d98;
        padding: 5px;

        border-radius: 5px;
        &:first-child {
          text-transform: uppercase;
          background-color: #dae2ec;

          font-weight: bold;
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      .img {
        transform: scale(0.95);
        overflow: hidden;
      }
    }
    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 1150px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 770px) {
    grid-template-columns: 1fr;
  }
}
