.experience {
  display: flex;
  justify-content: center;
}

.heading {
  flex-shrink: 0;
  width: 200px;
  margin-right: 70px;
  color: #007bff;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px;
}

.content {
  margin-top: -15px;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  max-width: 650px;
  margin-right: 30px;
}

.company-time {
  display: flex;
  justify-content: space-between;
}

.company-time #company {
  font-weight: 700;
}

.role {
  color: afafbf;
}

.resume {
  text-align: left;
  margin: 100px;
  margin-left: 0px;
}

.resume a {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  white-space: nowrap;
  color: #007bff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2px 5px;
  box-shadow: inset 0 -3px 0 #007bff;
  transition: all 0.2s ease-in-out;
}

.resume a:hover {
  box-shadow: inset 0 -33px 0 0 #007bff;
  color: #fff;
}

.resume img {
  width: 30px;
  vertical-align: bottom;
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 500px) {
  .experience {
    flex-direction: column;
  }
  .heading {
    text-align: left;
    padding: 10px 15px;
  }
  .company-time,
  .role {
    padding: 0 15px;
  }
  .company-time p {
    margin-bottom: 6px;
  }
  .resume {
    padding: 0 15px;
  }
}
